<ul id="contenedor-lista" class="demo-list-icon, mdl-list, w-100">

    {{#listaProductos}}
    <li class="mdl-list__item w-100" >
        <span class="mdl-list__item-primary-content w-10">
            <i class="material-icons">shopping_cart</i>
        </span>
        <span class="mdl-list__item-primary-content w-30">
            {{nombre}}
        </span>
        <span class="mdl-list__item-primary-content w-30">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" type="text" onchange="cambiarCantidad({{@index}}, this)" id="input-cantidad-{{@index}}">
                <label class="mdl-textfield__label" for="input-cantidad-{{@index}}">{{cantidad}}</label>
            </div>
        </span>
        <span class="mdl-list__item-primary-content w-20 ml-item">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input type="number" class="mdl-textfield__input" type="text" onchange="cambiarPrecio({{@index}}, this)" id="input-precio-{{@index}}">
                <label class="mdl-textfield__label" for="input-precio-{{@index}}">{{precio}}</label>
            </div>
        </span>
        <span class="mdl-list__item-primary-content w-20">
            <button onclick="borrarProducto({{@index}})" class="mdl-button mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">delete</i>
            </button>
        </span>
    </li>
    {{/listaProductos}}
</ul>